# bot id is not a secret id, but we keep it in environment vars
BOT_ID=848459799783669790
# bot token, should be secret
BOT_TOKEN=
# discord bots api token, should be secret
DISCORD_BOATS_token=
# mongodb url, should be secret
MONGODB_URL=
# DEL API token, should be secret
DELAPI_token=
