<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> v2.0.0
    </div>
    <strong>This website uses <a href="https://getbootstrap.com/">Boostrap</a>. Made with <i class="fa fa-heart"></i>.</strong> 
</footer>
