<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> v1.0.0-beta
    </div>
    <strong>Made with <i class="fa fa-heart"></i> by <a href="https://github.com/PuneetGopinath">PuneetGopinath</a> and <a href="https://github.com/abhijosji2k">abhijosji2k</a></strong>
</footer>
