<header>
    <div class="preloader flex-column justify-content-center align-items-center" style="height: 0px;">
        <img src="https://welcome-bot.github.io/assets/img/logo.png" height="60" widgth="60" style="display: none;">
    </div>
    <aside class="main-sidebar sidebar-dark-primary"></aside>
        <a href="/" class="brand-link">
            <img src="https://welcome-bot.github.io/assets/img/logo.png" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-dark"><b>Welcome-Bot</b></span>
        </a>
    </aside>
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/dashboard" class="nav-link"><i class="nav-icon fas fa-tachometer-alt fa-w-18 nav-icon"></i>Dashboard</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <% if (user) { %>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="<%= user.displayAvatarURL({size: 32}) %>" class="rounded" alt="User Image">
                    <span><%= user.tag %></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/logout" class="btn btn-danger btn-block">Sign out</a>
                </div>
            </li>
            <% } else { %>
            <li class="nav-item dropdown">
                <a class="nav-link" href="/discord/login">Log in</a>
            </li>
            <% } %>
        </ul>
    </nav>
</header>
