<footer class="main-footer">
    <div class="float-right d-none d-sm-inline">
        <b>Version</b> v1.0.0-beta
    </div>
    <strong>Made with <i class="fa fa-heart"></i> by <a href="https://github.com/PuneetGopinath">PuneetGopinath</a> and <a href="https://github.com/abhijoshi2k">abhijoshi2k</a></strong>
</footer>
<script>
    function uniq(arr) {
        return arr.filter((el, index, self) => self.indexOf(el) === index);
    }

    function normalizeLocales(arr) {
        return arr.map((el) => {
            if (!el || el.indexOf('-') === -1 || el.toLowerCase() !== el) {
                return el;
            }
            const splitEl = el.split('-');
            return `${splitEl[0]}-${splitEl[1].toUpperCase()}`;
        });
    }

    function getUserLocales() {
        let languageList = [];

        if (typeof window !== 'undefined') {
            const { navigator } = window;
            if (navigator.languages) {
                languageList = languageList.concat(navigator.languages);
            }
            if (navigator.language) {
                languageList.push(navigator.language);
            }
            if (navigator.userLanguage) {
                languageList.push(navigator.userLanguage);
            }
            if (navigator.browserLanguage) {
                languageList.push(navigator.browserLanguage);
            }
            if (navigator.systemLanguage) {
                languageList.push(navigator.systemLanguage);
            }
        }

        languageList.push("en-US"); // Fallback
        return normalizeLocales(uniq(languageList));
    }
    if (!userDB?.locale || userDB.locale === "null") {
        fetch("/settings", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ locale: getUserLocales()[0] }),
        });
    }
</script>
