<!DOCTYPE html>
<html>
    <%- include('includes/head') %>
    <!--TODO: Style this page-->
    <body>
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1><%= translate("dashboard:404") =%></h1>
        </section>
        <%- include('includes/footer') %>
    </body>
</html>
